body{
    font-family: "Merriweather", sans-serif;
    font-size: 20px;
    margin: 15px 0px;
    background-color: rgb(255, 255, 255);
    background-image: url(./v617batch2-kul-05-technology.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-width: 1263.33px;
}
/*HEADER OF THE PAGE*/
header{
    border-bottom: 1px solid;
    height: 85px;
    position: sticky;
    top: 0px;
    background-color: rgb(207, 239, 148);
    padding: 10px;
    box-shadow: 0px 3px 5px rgb(0, 0, 0);
    z-index: 2;
}
#main-heading{
    width: 500px;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    transform: translateY(-10px);
}
nav{
    float: right;
    font-size: 40px;
    transform: translateY(17px);
}
a.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}
.main-link{
    color: black;
    text-decoration: none;
}
.nav-links{
    border: 2px solid;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}
.nav-links:hover{
    color: rgb(255, 255, 255);
    border: 2px solid white;
    animation: 2s linear 0s infinite running navScale;
}
#nav-link-intro:hover{
    background-color: rgb(72, 102, 16);
}
#nav-link-html:hover{
    background-color: orange;
}
#nav-link-css:hover{
    background-color: rgb(0, 132, 255);
}
#nav-link-javascript:hover{
    background-color: rgb(221, 212, 33);
}
@keyframes navScale {
    50%{border: 2px solid black;}
}
/*CONTENT ALL*/
#content-noheader{
    margin: 30px;
}
/*ARTICLES*/
.article-style{
    padding: 1px 10px;
    background-color: rgba(240, 248, 255, 0.728);
    border: 2px solid black;
    border-radius: 30px;
    clear: both;
    text-align: center;
    margin: 20px 0px;
}
.article-style h2{
    text-decoration: underline;
}
/*MIDDLE BOXES*/
.middle-boxes-indiv{
    margin: 1.3%;
    width: 28%;
    float: left;
    background-color: rgba(146, 244, 255, 0.911);
    border: 5px solid rgb(170, 255, 13);
    border-radius: 20px;
    text-align: center;
    padding: 0.5%;
    color: black;
    text-decoration: none;
}
.middle-boxes-indiv:hover{
    border: 5px solid black;
    animation: boxesAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes boxesAnimation{
    50%{border: 5px solid rgb(255, 13, 13);}
}
#html-box:hover{
    background-color: orange;
}
#css-box:hover{
    background-color: rgb(0, 132, 255);

}
#javascript-box:hover{
    background-color: rgb(221, 212, 33);
}
/*LANGUAGE ARTICLES*/
.media-solo{
    margin: 5px 15px;
}
/*FOOTER*/
footer{
    background-color: rgb(207, 239, 148);
    font-size: 30px;
    border: 3px solid black;
    box-shadow: 0px -2px 5px black;
    height: 300px;
}
.footer-all-parts{
    float: left;
    margin: 10px 3%; 
}
.fa-facebook{
    color:blue;
}
.fa-youtube{
    color:red;
}
.fa-twitter{
    color: aqua;
}
.fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover{
    text-decoration: underline;
}
.fa-map-location-dot{
    color:green;
}
.fa-address-book{
    color:brown;
}
footer ul li {
    margin: 20px 0px;
}
li::marker{
    color: transparent;
}
#map-img {
    box-sizing: border-box;
}
#map-img:hover{
    opacity: 0.8;
    border: 2px solid black;
}

